
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDIT US AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
  body {
           background-color:#6c9ad3;
           color:#fff;
           font-family: 'Nova Flat';
       }
       section {
           padding-top:100px;
           padding-bottom:30px;

       }
       .c-t {
           text-align:center;
       }
       a,a:hover,a:focus {
           color:#fff;
           cursor:pointer;
           text-decoration:none;
       }